* {
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 100px 0 100px;
	padding: 0;
	background: #fff;	/* #D7F5EF */
	min-height: 100vh;
	/* use max height of the page */

/* main, article, aside, section, header, footer {
	font-size: 0.9rem;
} */

    /* notebook paper horizontal line pattern
	background-color: #fff;
	background-image: linear-gradient(90deg, transparent 79px, #ff0000 79px, #ff0000 81px, transparent 81px), linear-gradient(#4169e1 .01em, transparent .1em);
	background-size: 100% 1.2em;
	*/
}

header,
main,
footer {
	flex-shrink: 1;
}

h1::first-letter {
	color: white;
	background-color: black;
	padding: 0 5px 0 5px;
	font-style: italic;
}

img.computer {
	float: left;
	margin: 10px;
}

/* containers flexbox */

.flex-nav {
	display: flex;
	flex-direction: column;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-right-style: dashed;
	border-width: 1px;
	padding: 0 10px 0 10px;
	flex-shrink: 1;
}

.flex-main {
	display: flex;
	flex-direction: column;
	border-left-style: dashed;
	border-right-style: dashed;
	border-width: 1px;
	padding: 0 10px 50px 10px;
	flex-grow: 1;
	/* let main content grow to end bottom before footer */
	flex-shrink: 1;
}

.flex-footer {
	display: flex;
	flex-direction: column;
	border-top-style: dashed;
	border-left-style: dashed;
	border-right-style: dashed;
	border-width: 1px;
	padding: 0 10px 0 10px;
	font-style: italic;
	flex-shrink: 1;
}

/* responsive media devices 

@media (max-width: 800px) {
	.flex-nav{
		display: flex;
		flex-direction: column;
		border-bottom-style: dashed;
		border-left-style: dashed;
		border-right-style: dashed;
		border-width: 1px;
		padding: 0 10px 0 10px;
		flex-shrink: 1;
	}
}

@media (max-width: 800px) {
	.flex-main {
		display: flex;
		flex-direction: column;
		border-left-style: dashed;
		border-right-style: dashed;
		border-width: 1px;
		padding: 0 10px 50px 10px;
		flex-grow: 1;
		flex-shrink: 1;
	}
}

@media (max-width: 800px) {
	.flex-footer {
		display: flex;
		flex-direction: column;
		border-top-style: dashed;
		border-left-style: dashed;
		border-right-style: dashed;
		border-width: 1px;
		padding: 0 10px 0 10px;
		font-style: italic;
		flex-shrink: 1;
	}
}
*/

/* post and navigation buttons listing style */

li.post-listing {
	margin: 10px 10px 10px 0;
	list-style: none;
}

ul.post-listing {
	list-style-position: inside;
	margin-left: 0;
	padding-left: 0;
}

li.nav-listing {
	list-style: none;
}

ul.nav-listing {
	list-style-position: inside;
	margin-left: 0;
	padding-left: 0;
}

/* ######################## */


.nav {
	margin-right: 7px;
}

.nav,
.post {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #AFECE0; /* #AFECE0 */
	text-decoration-thickness: 5px;
	text-underline-offset: 5px;
}

.nav:hover,
.post:hover {
	background-color: #AFECE0; /* #AFECE0 */
	padding: 3px 0 3px 0;
}

.odin {
	margin-right: 7px;
	text-decoration-line: underline;
	text-decoration-color: red;
	text-decoration-thickness: 5px;
	text-underline-offset: 5px;
}

.odin:hover {
	background-color: red;
	padding: 3px 0 3px 0;
}

.input {
	font-family: 'Dejavu Sans Mono';
	font-size: 0.8rem;
	background: #cfe8fd;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}

.note {
	font-family: 'Dejavu Sans';
	font-size: 0.8rem;
	font-style: italic;
	background: #ffd7de;
	border-radius: 5px;
	padding: 1rem;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: red;
}

pre {
	font-family: 'Dejavu Sans Mono';
	display: block;
	padding: 1rem;
	white-space: pre-wrap;
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}

.note:before {
	content: "Note:\A\A";
	text-decoration-line: underline;
	font-weight: bold;
	margin: 5px;

}

code.input {
	background-color: #ddd;
	border-style: none;
	border-radius: 0;
	padding: 0 2px 0 2px;
}

ul {
	list-style-type: "> ";
}

date {
	font-size: 0.8rem;
	font-style: italic;
}

date:before {
	content: "(";
}

date:after {
	content: ")";
}
