/* BOX MODEL
//---------------
//  Margin
//  Border
//  Padding
//  Content
*/

* {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

body {
    background-color: gray;
}

.box-1, .box-2 {
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	}

.box-1 {
    margin: 50px;
    border: 10px solid red;
    padding: 50px;
    background-color: orange;
    width: 200px;
    height: 200px;
}

.box-2 {
    margin: 50px;
    border: 10px solid red;
    padding: 50px;
    background-color: greenyellow;
    width: 200px;
    height: 200px;
}

/* set text inside <div> in center and middle of the box */
div {
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	}

img {
	float: right;
	}
	
figcaption {
	font-size: 0.5em
	}
