html {
	margin-left: 240px;
	margin-right: 240px;
	}

.input {
	font-family: Dejavu Sans Mono;
	background: #f2f1f1;
	border-radius: 5px;
	}
	
.output {
	font-family: Dejavu Sans Mono;
	background: #fbe5eb;
	border-radius: 5px;
	}

.story {
	border: 1px solid black;
	padding: 5px;
}
