body {
	margin: 0 20% 0 20%;
	}

.input {
	background: #f2f1f1;
	border-radius: 5px;
	}
	
.output {
	background: #fbe5eb;
	border-radius: 5px;
	}

.story {
	border: 1px solid black;
	padding: 5px;
}

kbd {
	background-color: #ddd;
	border: 0.1px solid black;
}

var {
	font-weight: bold;
}

samp {
	background-color: black;
	color: #00ff66;
}
