/* BOX MODEL
//---------------
//  Margin
//  Border
//  Padding
//  Content
*/

* {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

body {
    background-color: aqua;
}

.box-1 {
    margin: 50px;
    border: 10px solid red;
    padding: 30px;
    background-color: orange;
    width: 200px;
    height: 200px;
}

.box-2 {
    margin: 50px;
    border: 10px solid red;
    padding: 30px;
    background-color: greenyellow;
    width: 200px;
    height: 200px;
}

div {
    text-align: center;
}

h1 {
    background-color: fuchsia;
    border: 2px solid black;
    width: 400px;
    height: 50px;
    text-align: center;
    padding: 10px;
}